<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:fragment="footer">
    <footer>
        <article>
            <a href="#">개인정보처리방침</a>
            <span>|</span>
            <a href="#"> 영상정보처리기 운영·관리방침 </a>
        </article>
        <div>
            <img th:src="@{/images/logo.png}" />
            <div>
                <p>서울특별시 강남구 테헤란로 14길 6 (남도빌딩)</p>
                <p>전화번호 : 1544-9970</p>
                <p>이용시간 : 화~금 07:00 ~ 23:00 / 토,일 07:00~21:00 / 금요일, 공휴일 휴관</p>
            </div>
            <img th:src="@{/images/wa_logo.png}" />
        </div>
    </footer>

    <!-- 타임리프 조건문으로 메시지 출력 -->
    <div th:if="${not #strings.isEmpty(message)}">
        <script>
            alert(`[[${message}]]`);
        </script>
    </div>
</div>
</body>
</html>
