<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library</title>
    <link rel="stylesheet" href="/css/main-style.css" th:href="@{/css/main-style.css}">
    <link rel="stylesheet" href="/css/intro/main_cal_hour.css" th:href="@{/css/intro/main_cal_hour.css}">
    <link rel="stylesheet" href="/css/board/main-notice.css" th:href="@{/css/board/main-notice.css}">
    <link rel="stylesheet" href="/css/food/mainFood.css" th:href="@{/css/food/mainFood.css}">
    <link rel="stylesheet" href="/css/member/mainLogin.css" th:href="@{/css/member/mainLogin.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/scheduling/slideClass.css" th:href="@{/css/scheduling/slideClass.css}">
    <link rel="stylesheet" href="/css/search/mainSearch.css" th:href="@{/css/search/mainSearch.css}">
</head>
<body>
<!-- Header Include -->
<div th:replace="common/header :: header"></div>

<!-- Search Include -->
<div th:replace="search/mainSearch :: mainSearch"></div>

<section class="main-page-suround-area-section">
    <article class="main-class-login-area">
        <!-- Slide Class Include -->
        <div th:replace="community/slideClass :: slideClass"></div>
        <!-- Login Include -->
        <div th:replace="member/mainLogin :: mainLogin"></div>
    </article>

    <!-- 이용시간 및 달력 -->
    <div th:replace="intro/main_cal_hours :: mainCalHours"></div>

    <article class="main-food-notice-area">
        <!-- 오늘의 메뉴 -->
<!--    main 컨트롤러에서 food 리스트 반환해야함    -->
        <div th:replace="food/mainFood :: mainFood"></div>
        <!-- 공지사항 -->
<!--    컨트롤러에서 boardList 반환해야함, 처리해야함-->
        <div th:replace="user/mainNotice :: mainNotice"></div>
    </article>
</section>

<!-- 달력 일정 모달 -->
<div th:replace="intro/main_cal_modal :: mainCalModal"></div>

<!-- Footer Include -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>
