<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Java Library</title>
  <link rel="stylesheet" th:href="@{/css/main-style.css}">
  <link rel="stylesheet" th:href="@{/css/common/sideMenu.css}">
  <link rel="stylesheet" th:href="@{/css/common/modal.css}">
  <link rel="stylesheet" th:href="@{/css/search/bookRequest-style.css}">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>

<section class="main">
  <div th:replace="~{intro/sideMenu :: sideMenu}"></div>

  <section class="main-content">
    <div class="main-title">신청 양식</div>
    <hr class="titleLine" />
    <section class="body-content">
      <div class="request-form">
        <table>
          <tbody>
          <tr class="request-tr">
            <th>isbn</th>
            <td><input type="text" maxlength="300" placeholder="isbn 입력('-') 제외"/></td>
          </tr>
          <tr>
            <th>신청일자</th>
            <td><input type="date" id="currentDate" readonly /></td>
          </tr>
          <tr>
            <th>신청자</th>
            <td>로그인된 사용자 이름</td>
<!--            <td th:text="${loginMember.memberName}">로그인된 사용자 이름</td>-->
          </tr>
          <tr>
            <th>희망 도서명</th>
            <td><input type="text" placeholder="도서명 입력" /></td>
          </tr>
          <tr>
            <th>저자</th>
            <td><input type="text" placeholder="저자 입력" /></td>
          </tr>
          <tr>
            <th>출판사</th>
            <td><input type="text" placeholder="출판사 입력"/></td>
          </tr>
          <tr>
            <th>출판 연도</th>
            <td><input type="date" id="publishDate"  placeholder="출판 연도 입력" /></td>
          </tr>
          <tr>
            <th class="opinion">추천의견</th>
            <td><textarea id="opinion" cols="20" placeholder="내용 입력"></textarea></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-area">
        <button id="request-btn">신청하기</button>
      </div>
    </section>
  </section>
</section>

<!-- 공통 Request Modal -->
<div th:replace="search/requestModal :: requestModal"></div>
<!-- 공통 Footer -->
<div th:replace="~{common/footer :: footer}"></div>

<!-- js loginMember const 변수 삽입필요-->

<script th:src="@{/js/search/bookRequest.js}"></script>
</body>
</html>