<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="popup_layer" th:fragment="searchModal">
    <div class="popup_box_res">
        <div class="popup_header">
            <!-- 안에 p 태그로 -->
            <p>도서 예약</p>
        </div>
        <div th:fragment="searchModal">
            <!-- 팝업 컨텐츠 영역 -->
            <div class="popup_content">
                <div class="popup_content_top">
                    <div id="message_box" th:text="${message}"></div> <!-- 메시지 내용 -->
                    <div class="popup_content_bar"></div>
                </div>

                <div class="popup_content_mid">
                    <div class="popup_content_left">
                        <img th:src="@{/images/bookThumbnail.jpg}" alt="Book Thumbnail"/>
                    </div>
                    <div class="popup_content_right">
                        <h2>도서 상세</h2>
                        <p>서명 : </p>
                        <p>저자 : </p>
                        <p>발행처 : </p>
                        <p>발행년도 :</p>
                        <p>ISBN: </p>
                    </div>
                </div>

                <!-- 팝업 버튼 영역 -->
                <div class="popup_btn">
                    <button id="confirm_btn">확인</button>
                    <button id="cancel_btn">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>