<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/cb5f1fee4d.js" crossorigin="anonymous"></script>
</head>
<body>


<!-- Fragment 정의 -->
<div th:fragment="mainFood">
  <section class="main-food-area">
    <article>
      <div class="today-menu-title">
        <i class="fa-solid fa-utensils"></i>오늘의 메뉴
      </div>
      <div id="goToFood">
        <a th:href="@{/food}"><i class="fa-solid fa-plus"></i></a>
      </div>
    </article>

    <article class="main-food-info-area">
      <div class="main-today-menu">
        <!-- 휴관일 처리 -->
        <div th:if="${dayOfWeek == 5}" class="main-food-closed-day">휴관일</div>

        <!-- 토요일에만 특정 음식 번호를 출력 -->
  <!--  임시 주석처리-->
        <div th:if="${dayOfWeek == 6}">
  <!--        <th:block th:each="food : ${foodList}">-->
  <!--          <div th:if="${food.foodNo == 5 or food.foodNo == 11 or food.foodNo == 17 or food.foodNo == 23 or food.foodNo == 29}">-->
  <!--            <div th:text="${food.foodName}"></div>-->
  <!--          </div>-->
  <!--        </th:block>-->
        </div>

        <!-- 다른 요일에 대해 음식 출력 (일, 월, 화, 수, 목) -->
        <div th:if="${dayOfWeek != 5 and dayOfWeek != 6}">
  <!--        <th:block th:each="food : ${foodList}">-->
  <!--          <div th:if="${food.typeNo == 0}">-->
  <!--            &lt;!&ndash; 요일에 맞는 음식을 나머지 연산으로 매칭하여 출력 &ndash;&gt;-->
  <!--            <div th:if="${food.foodNo % 6 == dayOfWeek}">-->
  <!--              <div th:text="${food.foodName}"></div>-->
  <!--            </div>-->
  <!--          </div>-->
          </th:block>
        </div>
      </div>

      <div class="main-time-info">
        <div class="main-restaurant-time">
          <p><strong>식당+매점 운영시간</strong></p>
          <p>09:00 ~ 20:00</p>
        </div>
        <div class="main-cafe-time">
          <p><strong>카페 운영시간</strong></p>
          <p>09:00 ~ 20:00</p>
        </div>
      </div>
    </article>
  </section>
</div>
</body>
</html>
