<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library - 교육문화 프로그램</title>

    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/common/sideMenu.css">
    <link rel="stylesheet" href="/css/scheduling/class-detail.css">
    <link rel="stylesheet" href="/css/scheduling/modal.css">
</head>

<body>

<div th:replace="~{common/header :: header}"></div>

<section class="main-content-suround-section">
    <div th:replace="~{intro/sideMenu :: sideMenu}"></div>

    <!-- 공지사항 목록 -->
    <section class="content-suround-section">
        <div class="content-title">교육문화 프로그램</div>
        <div class="title-line"></div>

        <!-- 게시글 상세 화면 -->
        <section class="board-detail">
            <!-- 제목 -->
            <h1 class="board-title">[[${board.boardTitle}]]</h1>

            <!-- 작성자 / 작성일 / 조회수 -->
            <div class="board-nav">
                <span>신청기간 : [[${classSchedule.recruitmentStartDt}]] ~ [[${classSchedule.recruitmentEndDt}]]</span>|
                <span>교육기간 : [[${classSchedule.startDt}]] ~ [[${classSchedule.endDt}]]</span>|
                <span>최대인원 : [[${classSchedule.maxParticipant}]]</span>
            </div>

            <!-- 이미지 보여지는 영역 -->
            <!-- 썸네일 X -->
            <div class="img-box">
                <!-- 등록한 이미지가 있으면 보여줘야하는 영역 -->
                <div class="boardImg">
                    <img src="${boardImgList[0].renameImg}">
                </div>
            </div>

            <!-- 게시글 내용 -->
            <div class="board-content">
                <pre>[[${board.content}]]</pre>
            </div>

            <!-- 버튼 영역(회원) -->
            <div th:if="{loginMember != null and loginMember.role == 'ROLE_MEMBER'}" class="btn-area">
                <th:block th:with="sysdate=${#dates.format(today, 'yyyy-MM-dd')}">
                    <th:block th:if="${classSchedule.recruitmentStartDt <= sysdate and sysdate <= classSchedule.recruitmentEndDt and classSchedule.applicantCount < classSchedule.maxParticipant}">
                        <!-- 신청(로그인 한 멤버번호== 작성한 멤버번호) -->
                        <button id="applyBtn" onclick="applyModal()">신청</button>
                    </th:block>
                </th:block>
                <button id="goToListBtn">목록으로</button>
            </div>

            <div th:if="${loginMember != null}" class="btn-area">
                <button id="goToListBtn">목록으로</button>
            </div>

            <!-- 버튼 영역(관리자) -->
            <div th:if="${loginMember != null and loginMember.role == 'ROLE_ADMIN'}" class="btn-area">
                <button id="updateBtn">수정</button>
                <button id="deleteBtn" onclick="deleteModal()">삭제</button>

                <button id="goToListBtn">목록으로</button>
            </div>

        </section>

    </section>

</section>

<div th:replace="~{common/footer :: footer}"></div>

<!-- 알림창 모달-->
<div id="popup_layer">
    <div class="popup_box">
        <div class="popup_header">
            <p>교육문화 프로그램</p>
        </div>

        <!--팝업 컨텐츠 영역-->
        <div class="popup_content">
            <p th:if="${loginMember != null and loginMember.role == 'ROLE_MEMBER'}"> 해당 클래스를 신청하시겠습니까?</p>
            <p th:if="${loginMember != null and loginMember.role == 'ROLE_ADMIN'}"> 해당 게시글을 삭제하시겠습니까?</p>
        </div>
        <!--팝업 버튼 영역-->
        <div class="popup_btn">
            <button th:if="${loginMember != null and loginMember.role == 'ROLE_MEMBER'}" id="confirm_btn">확인</button>
            <button th:if="${loginMember != null and loginMember.role == 'ROLE_ADMIN'}" id="delete_confirm_btn">확인</button>
            <button id="cancel_btn">취소</button>
        </div>
    </div>
</div>


<!-- 신청 실패 모달 -->
<div id="applyModal" class="modal" style="display: none;">
    <div class="modal_box">
        <div class="modal_header">
            <p>교육문화 프로그램</p>
        </div>
        <div class="modal_content">
            <p>이미 신청한 클래스입니다.</p>
        </div>
        <div class="modal_btn">
            <button class="close_btn">확인</button>
        </div>
    </div>
</div>


<script>
    const boardNo = "${classBoard.boardNo}";
    const loginMemberNo ="${loginMember.memberNo}";
    const cateCode = "${cateCode}";
    const cp = "${cp}";
</script>


<script src="/js/scheduling/class-detail.js"></script>
</body>

</html>