<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>slideClass</title>

  <!-- Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>



<body>
<div th:fragment="slideClass">
  <div class="swiper-container">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a th:href="@{/scheduling/12/4009}">
            <img th:src="@{/images/scheduling/Rlanguage-1.jpg}" alt="Slide 1">
          </a>
        </div>
        <div class="swiper-slide">
          <a th:href="@{/scheduling/12/4008}">
            <img th:src="@{/images/scheduling/increase-2.jpg}" alt="Slide 2">
          </a>
        </div>
        <div class="swiper-slide">
          <a th:href="@{/scheduling/12/4007}">
            <img th:src="@{/images/scheduling/Gephi-3.jpg}" alt="Slide 3">
          </a>
        </div>
        <div class="swiper-slide">
          <a th:href="@{/scheduling/12/4006}">
            <img th:src="@{/images/scheduling/text-4.jpg}" alt="Slide 4">
          </a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- Custom Script -->
    <script th:src="@{/js/scheduling/slideClass.js}"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </div>



</div>
</body>
</html>
