<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library - 로그인</title>
    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/member/login.css">
</head>
<body>
<!-- Header Include -->
<div th:replace="~{common/header :: header}"></div>

<section class="login-area">
    <div class="login-msg">로그인</div>
    <a href="/oauth2/authorization/google">
        <img src="/images/login/google_login.svg" class="login-img">
    </a>

    <a href="/oauth2/authorization/naver">
        <img src="/images/login/naver_login.png" class="login-img">
    </a>
</section>
<!-- Footer Include -->
<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>