<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cb5f1fee4d.js" crossorigin="anonymous"></script>
</head>

<body>
<section class="main-login-area" th:fragment="mainLogin">

    <th:block th:if="${loginMember==null}">
        <div class="login-msg">로그인</div>
        <a href="/oauth2/authorization/google">
            <img src="/images/login/google_login.svg" class="login-img">
        </a>

        <a href="/oauth2/authorization/naver">
            <img src="/images/login/naver_login.png" class="login-img">
        </a>
    </th:block>


    <th:block th:if="${loginMember!=null}">
        <article class="main-login-title main-login-member-title">
            <strong th:text="${loginMember.name}">회원명</strong>님 환영합니다.
        </article>

        <article class="main-login-form main-login-table">
            <table>
                <tr>
                    <td>도서대출현황</td>
                    <td th:text="${bookStatus.bookBorrowCount}">대출현황</td>
                </tr>
                <tr class="second-tr">
                    <td>도서예약현황</td>
                    <td th:text="${bookStatus.bookReservationCount}">예약현황</td>
                </tr>
                <tr>
                    <td>연체도서</td>
                    <td th:text="${bookStatus.bookOverdueCount}">연체도서</td>
                </tr>
            </table>
            <div class="main-login-btn-area main-logout-btn-area">
                <div id="main-my-library-btn"><a th:href="@{/OAuth2/logout}">로그아웃</a></div>
                <div id="main-my-library-btn"><a th:href="@{/study/my-library/32}">내 서재</a></div>
            </div>
        </article>

    </th:block>
</section>
<script th:src="@{/js/member/mainLogin.js}" defer></script>
</body>
</html>
