<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/cb5f1fee4d.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="main-login-area" th:fragment="mainLogin">
    <!-- 로그인 안 됐을 때 -->
<!--    <div th:if="${empty loginMember}">-->
      <article class="main-login-title">회원 로그인</article>
      <form action="/member/login" method="POST" class="main-login-form">
        <!-- 아이디 입력 (쿠키값을 사용하여 자동 입력) -->
<!--        <input type="text" name="memberEmail" placeholder="아이디 입력" th:value="${#cookies.saveId.value}" />-->
        <input type="text" name="email" placeholder="아이디 입력"/>
        <input type="password" name="password" placeholder="비밀번호 입력" />

        <div class="main-saveId">
          <!-- 아이디 저장 체크박스 (쿠키 값이 있을 경우 checked) -->
<!--          <input type="checkbox" name="saveId" id="saveId" th:checked="${#strings.isNotEmpty(#cookies.saveId.value)}" />-->
          <input type="checkbox" name="saveId" id="saveId" th:checked="${saveId != null}"/>
          <label for="saveId">아이디 저장</label>
        </div>

        <div class="main-login-btn-area">
          <button id="main-login-btn">로그인</button>
        </div>

        <div class="main-my-area">
          <a href="/member/findId"><span>ID 찾기</span></a>
          <span>|</span>
          <a href="/member/resetPw"><span>비밀번호 초기화</span></a>
          <span>|</span>
          <a href="/oauth2/authorization/naver"><span>네이버 로그인</span></a>
        </div>
      </form>
    <!--    임시 주석-->

    <!-- 로그인 됐을 때 -->
<!--    <div>-->
<!--      <article class="main-login-title main-login-member-title">-->
<!--        <strong>회원명</strong>님 환영합니다.-->
<!--      </article>-->

<!--      <article class="main-login-form main-login-table">-->
<!--        <table>-->
<!--          <tr>-->
<!--            <td>도서대출현황</td>-->
<!--            <td th:text="${loginMember.loanBook}">대출현황</td>-->
<!--          </tr>-->
<!--          <tr class="second-tr">-->
<!--            <td>도서예약현황</td>-->
<!--            <td th:text="${loginMember.resvBook}">예약현황</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>연체도서</td>-->
<!--            <td th:text="${loginMember.overdueBook}">연체도서</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--        <div class="main-login-btn-area main-logout-btn-area">-->
<!--          <div id="main-my-library-btn"><a th:href="@{/member/logout}">로그아웃</a></div>-->
<!--          <div id="main-my-library-btn"><a th:href="@{/myLibrary/book}">내 서재</a></div>-->
<!--        </div>-->
<!--      </article>-->
<!--    </div>-->
  </section>
  <script th:src="@{/js/member/mainLogin.js}" defer></script>
</body>
</html>
