<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library - ${cateName}</title>

    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/board/boardUpdate-style.css">
</head>
<body>

<!-- 공지사항 / 책 후기 나눠요 공통 화면 -->

<!-- header -->
<div th:replace="~{common/header :: header}"></div>

<section class="main-content-suround-section">
    <div th:replace="~{intro/sideMenu :: sideMenu}"></div>

    <!-- 공지사항 목록 -->
    <section class="content-suround-section">
        <div class="content-title">[[${cateName}]]</div>
        <div class="title-line"></div>

        <!-- 게시글 작성 화면 -->
        <!-- notice / bookreview 공통 -->
        <form th:action="@{/user/{cateEngName}/update(cateEngName=${cateEngName})}" method="POST" class="board-write" id="boardWriteFrm" enctype="multipart/form-data">

            <h1 class="board-title">
                <input type="text" name="title" placeholder="제목 입력" th:value="${board.title}">
            </h1>

            <!-- 이미지 등록 영역 -->
            <h5>이미지 등록</h5>
            <div class="img-box">
                <th:block th:with="firstImage=${board != null and board.boardImgList != null and #lists.size(board.boardImgList) > 0 ? board.boardImgList[0] : null}">
                    <div class="boardImg">
                        <label for="img0" >
                            <img th:src="${firstImage != null ? '/images/board/' + firstImage.renameImg : ''}" class="preview">
                        </label>
                        <input type="file" name="files" class="inputImage" id="img0"  accept="image/*">
                        <span class="delete-image">&times;</span>
                    </div>
                </th:block>

                <th:block th:with="secondImage=${board != null and board.boardImgList != null and #lists.size(board.boardImgList) > 1 ? board.boardImgList[1] : null}">
                    <div class="boardImg">
                        <label for="img1">
                            <img th:src="${secondImage != null ? '/images/board/' + secondImage.renameImg : ''}" class="preview">
                        </label>
                        <input type="file" name="files" class="inputImage" id="img1"  accept="image/*">
                        <span class="delete-image">&times;</span>
                    </div>
                </th:block>
            </div>



            <!-- 내용 -->
            <div class="board-content">
                <textarea name="content">[[${board.content}]]</textarea>
            </div>

            <!-- 버튼 영역 -->
            <div class="btn-area">
                <button type="button" id="cancelBtn" th:data-url="|/user/${cateEngName}/${board.id}|">취소</button>
                <button type="submit" id="writeBtn">등록</button>
            </div>

            <!-- 기존 이미지 존재하다가 삭제된 이미지 순서 기록 -->
            <input type="hidden" name="deleteImgList" th:value="${deleteImgList} ?: ''">
            <!-- 수정 성공 시 주소 유지 용도 -->
            <input type="hidden" name="boardId" th:value="${board.id}">

        </form>
    </section>


</section>

<!-- footer -->
<div th:replace="~{common/footer :: footer}"></div>


<script>
    const secret = "[[${board.secretFlag}]]";
    const cateEngName = "[[${cateEngName}]]";
</script>

<%-- boardUpdate.js 연결 --%>
<script src="/js/board/boardUpdate.js"></script>


</body>
</html>