<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library - [[${cateName}]]</title>

    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/board/boardDetail-style.css">
    <link rel="stylesheet" href="/css/board/comment.css">
</head>
<body>

<!-- header -->
<div th:replace="common/header :: header"></div>

<section class="main-content-suround-section">
    <div th:replace="intro/sideMenu :: sideMenu"></div>

    <!-- 공지사항 목록 -->
    <section class="content-suround-section">
        <div class="content-title" th:text="${cateName}"></div>
        <div class="title-line"></div>

        <!-- 게시글 상세 화면 -->
        <section class="board-detail">
            <!-- 제목 -->
            <h1 th:classappend="${board.secretFlag == 'Y' ? 'board-title' : ''}">
                <i th:if="${board.secretFlag == 'Y'}" class="fa-solid fa-lock"></i>
                <span th:text="${board.title}"></span>
            </h1>

            <!-- 작성자 / 작성일 / 조회수 -->
            <div class="board-nav">
                <div class="member-name">
                    <span th:text="${board.member.email}"></span>
                </div>
                <div class="board-info">
                    <p><span>작성일</span>&nbsp;<span th:text="${board.createdDate.toLocalDate()}"></span></p>
                    <p th:if="${board.lastModifiedDate != null}"><span>수정일</span>&nbsp;<span th:text="${board.lastModifiedDate.toLocalDate()}"></span></p>
                    <p><span>조회수</span>&nbsp;<span th:text="${board.count}"></span></p>
                </div>
            </div>

            <!-- 이미지 보여지는 영역 -->
            <div th:if="${#lists.size(board.boardImgList) > 0}" class="img-box">
                <div th:each="image : ${board.boardImgList}" class="boardImg">
                    <img th:src="@{'/images/board/' + ${image.renameImg}}" alt="게시글 이미지"/>
                    <a th:href="@{'/images/board/' + ${image.renameImg}}" th:download="${image.originalImg}">다운로드</a>
                </div>
            </div>
            <hr>

            <!-- 게시글 내용 -->
            <div class="board-content" th:text="${board.content}"></div>

            <!-- 버튼 영역 -->
            <div class="btn-area">
                <th:block th:if="${loginMember != null and loginMember.email == board.member.email}">
                    <button id="updateBtn">수정</button>
                    <button id="deleteBtn">삭제</button>
                </th:block>
                <button id="listBtn">목록으로</button>
            </div>
        </section>

        <!-- comment 연결 -->
        <th:block th:if="${cateCode == 16 or cateCode == 18}">
            <div th:replace="~{user/comment :: comment}"></div>
        </th:block>
    </section>
</section>

<!-- footer -->
<div th:replace="~{common/footer :: footer}"></div>

<script>
    const cateEngName = "[[${cateEngName}]]";
    const boardId = "[[${board.id}]]";
    const memberEmail = "[[${loginMember != null ? loginMember.email : ''}]]";
</script>
<!-- boardDetail.js 연결 -->
<script src="/js/board/boardDetail.js"></script>
<!-- comment.js 연결 -->
<script src="/js/board/comment.js"></script>

</body>
</html>
