<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Library - ${cateName}</title>

    <link rel="stylesheet" href="/resources/css/main-style.css">
    <link rel="stylesheet" href="/resources/css/board/boardUpdate-style.css">
</head>
<body>

<!-- 공지사항 / 책 후기 나눠요 공통 화면 -->

<!-- header -->
<div th:replace="~{common/header :: header}"></div>

<section class="main-content-suround-section">
    <div th:replace="~{intro/sideMenu :: sideMenu}"></div>

    <!-- 공지사항 목록 -->
    <section class="content-suround-section">
        <div class="content-title">${cateName}</div>
        <div class="title-line"></div>

        <!-- 게시글 작성 화면 -->
        <!-- notice / bookreview 공통 -->
        <form action="update" method="POST" class="board-write" id="boardWriteFrm" enctype="multipart/form-data">

            <%-- 제목 --%>
            <h1 class="board-title">
                <input type="text" name="boardTitle" placeholder="제목 입력" value="${board.boardTitle}">
            </h1>

            <!-- 이미지 경로 변수 설정 -->
            <th:block th:with="img0=${#lists.arrayFindFirst(board.imageList, img -> img.imageOrder == 0)?.imagePath +
                      #lists.arrayFindFirst(board.imageList, img -> img.imageOrder == 0)?.imageReName}">
                <th:block th:with="img1=${#lists.arrayFindFirst(board.imageList, img -> img.imageOrder == 1)?.imagePath +
                          #lists.arrayFindFirst(board.imageList, img -> img.imageOrder == 1)?.imageReName}">

                    <!-- 이미지 등록 영역 -->
                    <h5>이미지 등록</h5>
                    <div class="img-box">

                        <div class="boardImg">
                            <label for="img0">
                                <img th:src="${img0}" class="preview">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img0" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>

                        <div class="boardImg">
                            <label for="img1">
                                <img th:src="${img1}" class="preview">
                            </label>
                            <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                            <span class="delete-image">&times;</span>
                        </div>
                    </div>
                </th:block>
            </th:block>


            <!-- 내용 -->
            <div class="board-content">
                <textarea name="boardContent">${board.boardContent}</textarea>
            </div>

            <!-- 버튼 영역 -->
            <div class="btn-area">
                <button type="button" onclick="location.href='/board/${cateCode}/${boardNo}'">취소</button>
                <button type="submit" id="writeBtn">등록</button>
            </div>

            <!-- 기존 이미지 존재하다가 삭제된 이미지 순서 기록 -->
            <input type="hidden" name="deleteList" value="">
            <!-- 수정 성공 시 주소 유지 용도 -->
            <input type="hidden" name="cp" value="${param.cp}">

        </form>
    </section>


</section>

<!-- footer -->
<div th:replace="~{common/footer :: footer}"></div>


<script>
    const secret = [["${board.boardSecretFlag}"]];
    const cateEngName = [["${cateEngName}"]];
</script>

<%-- boardUpdate.js 연결 --%>
<script src="/js/board/boardUpdate.js"></script>


</body>
</html>