<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:fragment="comment">
    <div id="commentArea">
        <div class="comment-list-area">
            <ul id="commentList">
                <li th:each="comment : ${board.replyList}" class="comment-row">
                    <p class="comment-writer">
                        <span>[[${comment.member.email}]]</span>
                        <span th:text="${comment.createdDate.toLocalDate()}" class="comment-date"></span>
                    </p>

                    <p class="comment-content">[[${comment.content}]]</p>

                    <div th:if="${loginMember.email == comment.member.email}" class="comment-btn-area">
                        <button th:attr="onclick='showUpdateComment(' + ${comment.id} + ', this)'" >수정</button>
                        <button th:attr="onclick='deleteComment(' + ${comment.id} + ')'" >삭제</button>
                    </div>
                </li>
            </ul>
        </div>

        <!--문의사항 : 관리자만 보임-->
        <th:block th:if="${cateCode == 16 and loginMember.role == 'ROLE_ADMIN'}">
            <div class="comment-write-area">
                <textarea id="commentContent"></textarea>
                <button id="commentAdd">등록</button>
            </div>
        </th:block>
        <th:block th:unless="${cateCode == 16 and loginMember.role == 'ROLE_ADMIN'}">
            <div class="comment-write-area">
                <textarea id="commentContent"></textarea>
                <button id="commentAdd">등록</button>
            </div>
        </th:block>
    </div>
</div>

</body>
</html>


