<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Java Library - 도서관 달력</title>

    <link rel="stylesheet" href="/css/main-style.css">
    <link rel="stylesheet" href="/css/common/sideMenu.css">
    <link rel="stylesheet" href="/css/intro/library_calendar.css">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

</head>
<body>
<!-- header.jsp 파일 포함 -->
<div th:replace="~{common/header :: header}"></div>

<section class="main-content-suround-section">
    <!-- sideMenu.jsp 파일 포함 -->
    <div th:replace="~{intro/sideMenu :: sideMenu}"></div>

    <section class="content-suround-section">
        <section class="content-detail-section">
            <div class="content-title">도서관 달력</div>
            <div class="title-line"></div>

            <section class="content-detail-section">
                <div class="cate-button-surround">
                    <div class="calendar-category-suround">
                        <span class="calendar-category" th:onclick="|typeCalendar(1)|"> <span class="category-color gong"></span> 공휴일</span>
                        <span class="calendar-category" th:onclick="|typeCalendar(2)|"> <span class="category-color hue"></span> 휴관일</span>
                        <span class="calendar-category" th:onclick="|typeCalendar(4)|"> <span class="category-color classDay"></span> 클래스</span>
                        <span class="calendar-category" th:onclick="|typeCalendar(3)|"> <span class="category-color eventDay"></span> 행사</span>
                    </div>

                    <!-- 로그인한 사용자가 권한이 2일 경우 버튼 표시 -->
                    <!-- 해당 기능 미완성 주석처리-->
<!--                    <div th:if="${loginMember.authority == 2}">-->
<!--                        <button id="calendar-edit-btn">일정편집</button>-->
<!--                    </div>-->
                </div>
                <div>
                    ※ 클래스와 행사는 휴관일, 공휴일에 하지 않습니다. ※
                </div>
                <div class="title-line"></div>

                <div class="surround-calendar-area">
                    <div class="calendar-btn-area">
                        <div id="prev-btn">&lt;</div>
                        <div id="today-btn">오늘</div>
                        <div id="next-btn">&gt;</div>
                    </div>
                    <div id="calendar"></div>
                </div>

                <div class="title-line"></div>

                <div id="date-div"></div>
                <div class="title-line"></div>
                <div id="selectCalArea"></div>
                <div class="title-line"></div>

            </section>
        </section>
    </section>
</section>

<!-- footer.jsp 파일 포함 -->
<div th:replace="~{common/footer :: footer}"></div>

<script src="/js/intro/lib_calender.js"></script>
</body>
</html>
