<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/58046189b2.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
</head>

<body>
<div th:fragment="mainCalHours">
  <section class="main-cal-hours-section">
    <article class="main-cal-article">
      <div th:replace="~{user/mainNotice :: mainNotice}"></div>
    </article>

    <article class="main-hour-article">
      <div class="hour-title">
        <i class="fa-regular fa-clock"></i>
        <span>자바도서관 운영시간</span>
        <div id="goToLibraryHour">
          <a th:href="@{/intro/1/8/29}"><i class="fa-solid fa-plus"></i></a>
        </div>
      </div>

      <div class="hour-table-area">
        <div>
          <table>
            <thead>
            <tr>
              <td>실별</td>
              <td>평일</td>
              <td>주말</td>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>문헌정보실</td>
              <td>09:00 ~ 20:00</td>
              <td>09:00 ~ 18:00</td>
            </tr>
            <tr>
              <td>열람실</td>
              <td>09:00 ~ 23:00</td>
              <td>09:00 ~ 23:00</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="hour-holiday">※ 휴관일: 매주 금요일, 설날 및 추석연휴, 공휴일 ※</div>
    </article>
  </section>
</div>
</body>
</html>
