<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<article class="side-menu-article" th:fragment="sideMenu">
  <!-- temp : category 객체를 반복하며 출력 -->
  <li th:each="category : ${categoryList}">
      <span th:text="${category.id ?: 'ID가 없음'}">Category ID</span>
      <span th:text="${category.categoryName?: '이름 없는 카테고리'}">Category Name</span>
      <span th:text="${category.parentCategory ?: '부모 없는 카테고리'}">parentCategory Name</span>
  </li>

<!--  <th:block th:each="cat : ${category}">-->
<!--    <th:if test="${catLevel1 == cat.id}">-->
<!--      <div class="category" th:text="${cat.categoryName}"></div>-->

<!--      <ul class="side-menu">-->
<!--        <th:block th:each="cat2 : ${category}">-->
<!--          <th:if test="${cat.CAT_CODE == cat2.parentCategory.id}">-->
<!--            <div th:switch="${catLevel2}">-->
<!--              <div th:case="${catLevel2 == 9 && catLevel2 == cat2.id}">-->
<!--                <li class="side-current">-->
<!--                  <a th:href="@{/intro/{catCode}/{cat2Code}(catCode=${cat.id}, cat2Code=${cat2.id})}"-->
<!--                     class="side-current-a"-->
<!--                     th:text="${cat2.categoryName}"></a>-->
<!--                </li>-->
<!--              </div>-->

<!--              <div th:case="${catLevel2 == cat2.id}">-->
<!--                <li class="side-current">-->
<!--                  <a th:href="@{/intro/{catCode}/{cat2Code}(catCode=${cat.id}, cat2Code=${cat2.id})}"-->
<!--                     class="side-current-a"-->
<!--                     th:text="${cat2.categoryName}"></a>-->
<!--                  <ul>-->
<!--                    <th:block th:each="cat3 : ${category}">-->
<!--                      <th:if test="${catLevel2 == cat3.parentCategory.id}">-->
<!--                        <div th:switch="${catLevel3}">-->
<!--                          <div th:case="${catLevel3 == cat3.id}">-->
<!--                            <li>-->
<!--                              <a th:href="@{/intro/{catCode}/{cat2Code}/{cat3Code}(catCode=${cat.id}, cat2Code=${cat2.id}, cat3Code=${cat3.id})}"-->
<!--                                 class="side-side-current"-->
<!--                                 th:text="${cat3.categoryName}"></a>-->
<!--                            </li>-->
<!--                          </div>-->
<!--                          <div th:case="*">-->
<!--                            <li>-->
<!--                              <a th:href="@{/intro/{catCode}/{cat2Code}/{cat3Code}(catCode=${cat.id}, cat2Code=${cat2.id}, cat3Code=${cat3.id})}"-->
<!--                                 th:text="${cat3.categoryName}"></a>-->
<!--                            </li>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </th:if>-->
<!--                    </th:block>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </div>-->

<!--              <div th:case="*">-->
<!--                <li>-->
<!--                  <a th:href="@{/intro/{catCode}/{cat2Code}(catCode=${cat.id}, cat2Code=${cat2.id})}"-->
<!--                     th:text="${cat2.categoryName}"></a>-->
<!--                </li>-->
<!--              </div>-->
<!--            </div>-->
<!--          </th:if>-->
<!--        </th:block>-->
<!--      </ul>-->
<!--    </th:if>-->
<!--  </th:block>-->



</article>
